/* .role_layout {
     background-color: yellow;
} */

.role_layout ul {
  /*background-color: green;*/
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 1000px) {
  .role_layout li {
    width: 30%;
  }
}

.role_layout li {
  /* background-color: blue; */
  display: inline-block;
  margin-left: 2%;
  min-width: 220px;
  vertical-align: top;
}

.role_icon {
  height: 32px;
  margin-bottom: -6px;
  padding-right: 10px;
}

.role_icon {
  height: 32px;
  margin-bottom: -10px;
  padding-right: 10px;
}

.tab_content {
  margin: -10px 0 0 0;
  background-color: #111111;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1%;
}

.role_icon_smallish{
  height: 30px;
  /* margin-top: -20px; */
/*   margin-bottom: 10px;
  padding-right: 10px; */
}
.role_row {
  font-size: larger;
  line-height: 30px;
  /* margin-top: -30px; */
  vertical-align: top;
}
.role_text {
  margin-top: -20px;
  font-size: large;
  line-height: 30px;
  /* margin-top: -30px; */
  vertical-align: top;
}

.audit_box_common {
  border: solid 1px #31ff00;
  padding: 1%;
}
.audit_box_rare {
  border: solid 1px #2d72ff;
  padding: 1%;
}
.audit_box_epic {
  border: solid 1px #9f37e3;
  padding: 1%;
}
.audit_box_artifact {
  border: solid 1px #e2cc6b;
  padding: 1%;
}