.player_table {
  width: 100%;
  font-size: large;
  text-align: center;
}
.roles_table {
  width: 100%;
  text-align: left;
}
.player_table_row_value {
  font-size: xx-large;
}
.player_table_row_name {
  font-size: large;
}

.navbar {
  /*position: fixed;*/
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar ul {
  background-color: #202020;
  font-size: larger;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #363636;
}

.navbar li {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  float: left;
}

.float_right {
  float: right !important;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}

.navbar_active {
  background-color: #4caf50;
}

/* @media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
} */

.logo {
  margin-top: -5px;
}
.content {
  background-color: #202020;
  max-width: 1200px;
  padding: 1em;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.image_wrapper {
  width: 100%;
}
.image_box {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
}
.grey {
  color: darkgray;
}
.common {
  color: #31ff00;
}
.rare {
  color: #2d72ff;
}
.epic {
  color: #9f37e3;
}
.legendary {
  color: #f67f00;
}
.artifact {
  color: #e2cc6b;
}

.Druid {
  color: rgb(233, 123, 0);
}
.Hunter {
  color: rgb(169, 211, 108);
}
.Mage {
  color: rgb(106, 205, 241);
}
.Paladin {
  color: rgb(237, 139, 172);
}
.Priest {
  color: rgb(255, 255, 255);
}
.Rogue {
  color: rgb(253, 243, 92);
}
.Shaman {
  color: rgb(53, 91, 220);
}
.Warlock {
  color: rgb(147, 130, 203);
}
.Warrior {
  color: rgb(194, 155, 106);
}

.custom_tooltip {
  background-color: black;
  padding: 1em;
  border-radius: 1em;
}

.player_icon {
  margin-top: 5px;
  padding-right: 10px;
}

