.navbar {
  /*position: fixed;*/
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar ul {
  background-color: #202020;
  font-size:larger;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #363636;
}

.navbar li {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  float: left;
}

.float_right {
  float: right !important;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}

.navbar_active {
  background-color: #4CAF50;
}

/* @media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
} */

.logo {
  margin-top: -5px;
}
.content {
  background-color: #202020;
  max-width: 1000px;
  padding: 1em;
  line-height: 1.5em;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.image_box {
  max-width: 1000px;
  margin-left:auto;
  margin-right:auto;
  border-radius: 1em;
}
.common {
  color: #31ff00;
}
.rare {
  color: #2d72ff;
}
.epic {
  color: #9f37e3;
}
.legendary {
  color: #f67f00;
}
