.App-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #282c34;
}

.App-nav li {
  float: left;
}

.App-nav li a {
  display: block;
  color: ghostwhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.App-nav li a:hover {
  color: #282c34;
  background-color: #bbc73a;
}

.App-nav-float_right {
  float: right !important;
}

.App-nav-float_right a:hover {
  color: ghostwhite;
  background-color: brown !important;
}

.App-footer {
  font-size: smaller;
  color: #777;
  margin-top: 50px;
  text-align: center;
}